@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-height{
    height:420px;
}

.custom-wh{
    height:605px;
    width:460px;
}

.custom2-wh{
    height:690px;
    width:700px;
}

.cp{
    left:-64px;
}

.ct{
    position: absolute;
    left:25%;
}

.h-custom{
    height:30rem;
}

.h-arrow{
    height:100px;
}

.vr{
    border-left: 2px solid;
    height: 70px;
    border-color:#a0aec0;
}

.one{
    position:relative;
    top:-10%;
    width: 500px;
    height: 500px;
}
.two{
    width: 250px;
    height: 340px;
}
.three{
    width: 340px;
    height: 290px;
}


.icon-pos{
    top:4px;
    right:16px;
}